input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #8C8D8F;
    border-radius: 4px;
    background-color: #101113;
}

input[type=checkbox]:checked::before {
    background-color: #5577FF;
    border: 1px solid #5577FF;
}

input[type=checkbox]:checked::after {
    content: "";
    display: block;
    width: 3px;
    height: 8px;
    border: solid #DCDDDF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 5px;
}
