body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
    color: #5ed6ff;
}
.link:hover {
    color: #3eb6df;
}
.link:active {
    color: #0e86af;
}
.link:visited {
    color: #f2b3ff;
}
.link:visited:hover {
    color: #d293df;
}
.link:visited:active {
    color: #a253af;
}